body {
    margin: 0;
    padding: 0;
    background-color: #F0F5F9;
    font-family: Bahnschrift, serif;
}

.header {
    height: 100px;
    width: 100%;
    background-color: #5895c7;
    display: flex;
    font-family: Bahnschrift, serif;
}

.headerContent {
    margin: auto;
}

.main {
    min-height: calc(100vh - 200px);
}

.hidden {
    display: none;
}

.tableResult {
    border: 2px black solid;
    border-radius: 20px;
}

.itemTableResult {
    height: 35px;
}

.buttonBlock {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.file-upload-button:hover {
    background-color: #45a049;
}

.mainHeader {
    display: flex;
    height: 100px;
}

.mainHeaderContent {
    margin: auto;
}

.mainContent {
    display: flex;
}

.contentBlock {
    margin: auto;
}

.button {
    height: 40px;
    width: max-content;
    border-radius: 10px;
    color: black;
    background-color: #5895c7;
    border: 0;
    font-family: Bahnschrift, serif;
}

.button:hover {
    background-color: #0199b6;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: #5895c7;
    display: flex;
    font-family: Bahnschrift, serif;
}

.footerContent {
    margin: auto;
}